button{
     background-image: linear-gradient( #A4BC46, #85A019); 
    /* background-image: radial-gradient(#85A019, #A4BC46); */
    box-shadow: 1px 2px 10px rgb(163, 159, 159);
    
}
.custom-text{
    color: #363958;
    font-family: 'Bebas Neue', cursive ;
}
.custom-text-yellow{
    color: #FABE4C;
    font-family: 'Bebas Neue', cursive ;
}.custom-card{
    border: none;
    border-radius: 1rem;
    box-shadow: 15px 10px 15px rgb(224, 219, 219);
    
}
.card-footer-custom{
    border: none;
    background-color: white;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 90px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin{
      background: #3e4381;
      color:white
  }
  